@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@600&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,700;1,300;1,400&family=EB+Garamond&family=Familjen+Grotesk:wght@600&family=Jost:wght@400;500&family=Koulen&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@600&family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400&family=DM+Serif+Display&family=EB+Garamond&family=Familjen+Grotesk:wght@600&family=Jost:wght@400;500&family=Koulen&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_page {
    max-width: 1920px;
    min-width: 1280px;
    width: 100%;
    margin: 0;
    height: 100vh;
    background-image: url(main_photo.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 19vw;
}

.center {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

h2 {
    color: whitesmoke;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    display: inline;
}

h1 {
    color: whitesmoke;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    text-align: center;
    display: inline;
}

p {
    color: whitesmoke;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
    padding-top: 5vw;
}

h3 {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: whitesmoke;
}

.bottom_line {
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    color: whitesmoke;
}

.rectangle {
    box-sizing: border-box;
    position: absolute;
    width: 15vw;
    height: 2.5vw;
    left: 19.5vw;
    top: 24.3vw;
    border: 2px solid #FFFFFF;
}

.rectangle_2 {
    box-sizing: border-box;
    position: absolute;
    width: 156px;
    height: 70px;
    left: 1009px;
    top: 675px;
    border: 2px solid #FFFFFF;
}

.menu_dot {
    margin-left: 47vw;
    margin-top: 2vw;
}

body .cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    mix-blend-mode: difference;
    pointer-events: none;
}

body .cursor__ball circle {
    fill: white;
}

#container_ .link_menu div a:hover {
    color: white;
}


body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h3 {

    color: #ffffff;
    background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 6s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    white-space: nowrap;

}

.bottom_line {

    color: #ffffff;
    background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 6s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    white-space: nowrap;

}

@keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 250px;
    }

    100% {
        background-position: 250px;
    }
}

h1 {
    animation: 1s 700ms ease-in-out;
}

p {
    animation-delay: 1.2s;
}

.menu_dot {
    animation-delay: 1.4s;
}

.bottom {
    animation-name: fadeIn;
    animation-duration: 5s;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}
